<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Soporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/imgs/soporte.jpg"></ion-img>

      <ion-card-header>
        <ion-card-subtitle>Tenemos un equipo pra ti</ion-card-subtitle>
        <ion-card-title>Horario Soporte</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <h2>Atención Horario Regular</h2>
          <h3>Lunes a Viernes de 09:00 a 18:00</h3>
          <h3>Sábado de 10:00 a 16:00</h3>
          <p><ion-icon name="call"></ion-icon>+562 2 449 00 70</p>
          <div class="separador"></div>
          <h2>Atención Soporte Extra</h2>
          <h3>Lunes a Viernes de 18:00 a 23:00hrs</h3>
          <h3>Sábado de 16:00 a 23:00hrs</h3>
          <h3>Domingo de 10:00 a 23:00hrs</h3>
          <p><ion-icon name="call"></ion-icon> +569 9 918 95 88</p>
      </ion-card-content>
    </ion-card>

    <ion-button color="light" expand="block"><ion-icon name="call"></ion-icon><a href="tel:+56224490070">Llamar Soporte</a></ion-button>
    <ion-button color="light" expand="block"><ion-icon name="call"></ion-icon><a href="tel:+56999189588">Llamar Emergencias</a></ion-button>


</ion-content>
