// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


*{
  font-family: 'Lato', sans-serif;
}

ion-toolbar{
  --ion-background-color: #FF7126;
  color: white;
}

body{
  background: url('src/assets/imgs/round.png');

}

.naranjo{
  background-color: #FF7126;
}

.encabezado{
  padding: 20px 10px 20px;
  background-color: #4F7EFB;
}

.encabezado h1{
  color:white;
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  line-height: 0.7;

}

.encabezado h2{
  color:white;
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
  margin: 0;

}

.encabezado p{
  color:white;
  font-size: 9px;
  margin:10px 0;
}

h2{
  font-size: 2em;
  font-weight: 300;
  font-style: italic;
  margin-bottom:0;
}
